*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#ececec;

    font-family:Arial, Helvetica, sans-serif;

    position:relative;
}

.container{

    width:400px;

    min-height:100vh;

    background:#c4d9ef;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:18px;
}

h1{

    font-size:4rem;

    font-weight:900;

    margin-bottom:25px;
}

.btn{

    width:180px;

    padding:15px;

    border:2px solid #222;

    border-radius:30px;

    background:transparent;

    text-decoration:none;

    color:black;

    text-align:center;

    font-weight:bold;

    cursor:pointer;

    transition:.2s;
}

.btn:hover{

    transform:scale(1.03);

    background:black;

    color:white;
}

input{

    width:180px;

    padding:15px;

    border-radius:30px;

    border:2px solid #222;

    background:transparent;

    text-align:center;

    outline:none;
}

.input-area{

    display:flex;

    align-items:center;

    gap:6px;
}

.btn-play{

    width:40px;

    height:40px;

    border:none;

    border-radius:50%;

    background:#00b140;

    cursor:pointer;

    font-size:18px;

    font-weight:bold;
}


