<!DOCTYPE html>
<html>
<head>

    <title>Adicionar Música</title>

    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>

<div class="beatles"></div>

<div class="container">

    <h1>AbbeyQuiz</h1>

    <form method="POST">

        <input
            type="text"
            name="nome"
            placeholder="Nome da música">

        <br><br>

        <button
            type="submit"
            class="btn">

            Adicionar Música

        </button>

    </form>

    <a
        href="/"
        class="btn">

        Voltar

    </a>

</div>

</body>
</html>