<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Quiz Musical</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div class="container">

        <h1>Quiz Musical</h1>

        <p>
            Ouça um trecho da música e descubra qual é!
        </p>

        <a href="/jogo" class="btn">
            Jogar
        </a>

        <a href="/admin" class="btn btn-secundario">
            Adicionar Música
        </a>

    </div>

</body>
</html>