<!DOCTYPE html>
<html>
<head>

    <title>AbbeyQuiz</title>

    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>

<div class="beatles"></div>

<div class="container">

    <h1>AbbeyQuiz</h1>

    <a
        href="/jogo"
        class="btn">

        Jogar

    </a>

    <a
        href="/admin"
        class="btn">

        Adicionar Música

    </a>

</div>

</body>
</html>