<!DOCTYPE html>
<html>
<head>

    <title>Jogar</title>

    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>

<div class="beatles"></div>

<div class="container">

    <h1>AbbeyQuiz</h1>

    <button
        id="playBtn"
        class="btn">

        Ouvir Música

    </button>

    <div class="input-area">

        <input
            id="resposta"
            type="text"
            placeholder="Digite a música">

        <button
            id="enviarBtn"
            class="btn-play">

            ▶

        </button>

    </div>

    <a
        href="/"
        class="btn">

        Voltar

    </a>

</div>

<script src="/js/jogo.js"></script>

</body>
</html>