<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Quiz Musical</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <h1>🎵 Quiz Musical</h1>

        <button id="playBtn">
            Ouvir Música
        </button>

        <input
            type="text"
            id="resposta"
            placeholder="Digite o nome da música"
        >

        <button id="enviarBtn">
            Responder
        </button>

    </div>

    <script src="/js/jogo.js"></script>

</body>
</html>