<!DOCTYPE html>
<html>
<head>
    <title>Quiz Musical</title>
</head>
<body>

    <h1>Adivinhe a Música</h1>

    <button id="playBtn">
        Ouvir Música
    </button>

    <br><br>

    <input
        type="text"
        id="resposta"
        placeholder="Digite o nome da música"
    >

    <button id="enviarBtn">
        Enviar
    </button>

    <p id="resultado"></p>

    <script src="/js/jogo.js"></script>

</body>
</html>